body{
  background-color: black;

}
.cards-container{
  display: flex;
  flex-wrap: wrap;
}
.cards{
  display: block;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom:1rem;
  height: 250px;
  width: 250px;
  border: 1px solid ;
  padding: .2rem;
  border-radius: 10px;
}